
img{
	position: absolute;
	opacity: 0.5;
	display: inline-block;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
	outline: none;
}



button{
	position: relative;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    -webkit-tap-highlight-color: transparent;
	color: white;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	background: transparent url("./snow.png") center no-repeat;
	background-size: 100%;
	background-position: center;
	border: none;
	height:400px;
	width:20%;
	display: inline-block;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
	outline: none;
	overflow: auto;
	margin: 0;
	padding: 0;
}

html, body {
	overflow: auto;
	margin: 0;
	padding: 0;
}


#leftButton {
	float: left;
	margin-left: 0px;
}

#rightButton {
	float: left;
	margin-left: 10px;
}

#jumpButton {
	float: right;
	margin-right: 0px;
}

#dashButton {
	float: right;
	margin-right: 10px;
}




button:active {
  color: white;
  opacity: 0.6;
}




@media only screen and (orientation:portrait){
	h1{
		position: relative;
		padding-top: 50%;
		vertical-align: center;
		text-align: center;
		font-family: "Arial";
		float: left;
		-webkit-touch-callout: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
	outline: none;
	}

  button, img {
  	display: none;
  }


}

@media only screen and (orientation:landscape){
	h1{
		display: none;
	}


}